/* Grid */
.grid {
    display: grid;
}

.online {
    grid-area: online;
    background: rgb(255, 255, 255);
    border: 4px solid rgb(149, 23, 23);

}

.content {
    grid-area: content;
    background: rgb(255, 255, 255);
    /* min-width: 820px; */
}

.chat {
    grid-area: chat;
    background: rgb(255, 255, 255);
    border: 4px solid rgb(33, 23, 149);
}

.chat-item-flex1 {
    display: flex;
    align-items: flex-end;
    border: 1px solid rgb(236, 70, 70);
    width: 100%;
}

.chat-item-flex2 {}

.message {
    grid-area: message;
    background: #ffffff;
    border: 4px solid rgb(33, 23, 149);
}

.chat-header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 40px;
    border: 1px solid rgb(155, 37, 147)
}

.chat-itens {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    padding-bottom: 4px;
    height: 380px;
    overflow-y: auto;
    border: 1px solid rgb(155, 37, 147);
}

.chat-div-input {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 10px;
    background-color: #f0f2f5;
    border: 1px solid rgb(155, 37, 147);
}

.chat-item {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    font-size: medium;
    font-family: "Roboto", sans-serif;
    padding: 4px;
    padding-top: 8px;

}

.chat-item-other {
    display: flex;
    text-align: right;
    justify-content: flex-end;
}

.chat-item-user {
    text-align: center;
    background-color: beige;
    border: 1px solid rgb(251, 94, 55);
    border-radius: 45px;
    margin: 30p;
    width: 40px;
    height: 30px;
    padding-top: 12px;

}

.chat-item-message1 {
    display: inline;
    background-color: aquamarine;
    margin-left: 10px;
    border: 1px solid rgb(170, 55, 251);
    border-radius: 0px 10px 10px 10px;
    padding: 10px;
}

.chat-item-message2 {
    display: inline;
    background-color: rgb(201, 200, 255);
    margin-left: 10px;
    border: 1px solid rgb(239, 118, 118);
    border-radius: 0px 10px 10px 10px;
    padding: 10px;
}

.chat-item-message-title {
    border: 0px solid rgb(251, 94, 55);
    font-size: small;
}

.chat-item-message-content {
    border: 0px solid rgb(251, 94, 55);
    font-size: medium;
}



.input-message {
    font-family: "Roboto", sans-serif;
    padding: 4px;
    border-radius: 4px;
    font-size: 20px;
    width: 98%;
    margin: 0px;
    border: 0px;
}

.input-message:focus {
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

.grid-template-areas-4 {
    grid-template-columns: 58% 42%;
    grid-template-rows: 20% 20% 60%;
    grid-template-areas:
        "content online"
        "content chat"
        "content message"
    ;
}

/* Grid Item */
.item {
    margin: 5px;
    /* background: rgb(80, 162, 220); */
    text-align: left;
    font-size: 1.5em;
}

.grid {
    /* max-width: 600px; */
    margin: 0 auto;
    border: 1px solid rgb(179, 172, 172);
}

h1 {
    text-align: center;
    font-size: 1.25em;
    font-weight: normal;
}

body {
    font-family: monospace;
    color: #333;
    padding-bottom: 0px;
    margin: 0px;
}

body>div {
    padding: 0px 0;

}

body>div:nth-of-type(even) {
    background: rgba(0, 0, 0, .03);
}

body>div>img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}


.chat-buttons {
    display: flex;
    flex-direction: row;
}

/* button {
    margin: 2px;
    border: 0px;
    border-radius: 4px;
    padding: 6px 12px;

} */